.services-top {
    text-align: center;
  
  
}


.services-top-boxs {
    padding-top: 3%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 3%;
}

.services-top-boxs img {
    height: 6vh;
    width: 40%;

}

.services-top-box {
    color: rgb(243, 6, 6);
    background-color: #2490EB;
    border-radius: 10px;
    padding-top: 40px;
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    border: 2px solid rgb(18, 18, 18);
}

.services-top-box:hover {
    background-color: #e12454;
}


.services-top-box>h4 {
    font-family: "Roboto", sans-serif;
    padding-top: 4%;
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
}

.services-top>h1 {
    font-family: "Roboto", sans-serif;
    padding-top: 4%;
    font-size: 40px;
    text-transform: uppercase;
    color: #6F8BA4;
    font-weight: 400;
}


.services-top>p{
    font-family: "Roboto", sans-serif;
    padding-top: 2%;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
}


@media screen and (max-width:768px){
    .services-top-boxs {
        padding-left: 10%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      
    }

    .services-top-box{
        margin-top: 2%;
    }

    .services-top>h1 {
        font-size: 15px;
        font-weight: 300;
    }
    
    
    .services-top>p{
        font-size: 15px;
        font-weight: 100;
    }
} 

@media screen and (max-width:600px) {
    .services-top-boxs {
        padding-left: 30%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      
    }



    .services-top-box {
        margin-top: 4%;
        width: 200px;
        height: 200px;
         
    }
    
}
