 .blogs-nav{
    background-color: rgb(9, 168, 168);
    height: 400px;
    opacity: .6;
    background-image: url('../../images/banner.jpg');
 }

 .blogs-nav h2{
   padding-top: 120px;
   font-weight: 600;
 }

 .blog-cards{
        padding: 20px;
        padding-left: 20px;
        display: grid;
       
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  }

 .blog-card{
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid red;
}

 .blog-card-header{
  padding: 10px;
  border-bottom: 1px solid black;
 }

 .blog-card-header h3{
  padding-left: 8px;
  letter-spacing: 2px;
 }
 
 .blog-card-header p{
  letter-spacing: 2px;
  font-size: 18px;
 }

 .blog-card-footer{
   display: flex;
   justify-content: space-between;
 }

 .blog-card-footer-one{
   padding-top: 20px;
   display: flex;
 }

 .blog-card-footer-one img{
   border-radius: 50%; 
   height: 80px;
   width: 80px;
 }

 .blog-card-footer-one small{
       padding-top: 10px;
 }


 .blog-card-footer-two{
   display: flex;
 }

 .blogs-author{
   font-size: 12px;
   letter-spacing: 1px;
   font-weight: 400;
   text-transform: uppercase;
   
 }


 