.cardiology-contaniner {
    margin-top: 20px;
    width: 90%;
    height: auto;
    margin-left: 85px;
    background-color: rgb(158, 230, 103);
    padding-left: 70px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cardiology-detail {
    grid-column-start: 1;
    grid-column-end: 3;
}

.cardiology-img {
    margin-left: 80px;
    box-sizing: border-box;
    height: 550px;
    width: 70%;
}

.cardiology-checkup{
    display: flex;
}

.cardiology-options{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap:30px
}

.icon img{
    height: 80px;
    width: 80px;
}

@media screen and (max-width:768px) {
    .cardiology-contaniner {
        width: 100%;
        margin-top: 10px;
        background-color: azure;
        margin-left: 0;
        padding-left: 0;
        padding-top: 20px;
        display: inline-block;
    }

    .cardiology-img {
        margin-left: 0;
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }
}