.package-container {
    margin-top: 20px;
    padding: 30px;
}

.package>h1 {

    font-size: 38px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color: #223a66;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.package>p {
    font-size: 20px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    color: #223a66;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 8px;
}


.package-home-card {


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.package-card {

    margin-top: 3%;
    height: 80vh;
    border: 5px solid #EEF2F6;
    width: 85%;
}

.package-card>img {
    height: 50%;

}

.package-card>h6 {
  
    margin-top: 3px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    color: #223a66;
    letter-spacing: 2.5px;

}

.package-card>p {
    margin-left: 4%;
    font-size: 16px;
    font-family: "Exo", sans-serif;
    color: #050505;
    letter-spacing: 1px;
}

.package-card>button {
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 50px;
    cursor: pointer;
    background: #e12454;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 0.75rem 2rem;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .35s ease
}


@media screen and (max-width:877px) {

    .package>p {
        display: none;
    }

    .package-container {

        margin-top: 20px;
        padding: 0;
    }

    .package-home-card {
        margin-left: 4%;
    }

    .package-card>h6 {
        margin-top: 1px;
        font-size: 24px;
        letter-spacing: 1.5px;

    }

    .package-card {
        height: auto;
    }

}

@media screen and (max-width:768px) {

    .package>h1 {

        font-size: 28px;
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        color: #223a66;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }



    .package-home-card {
        margin-left: 2%;
    }

    .package-card>h6 {
        margin-top: 3px;
        font-size: 26px;
        letter-spacing: 1.5px;

    }

    .package-card>p {
        font-size: 14px;
        letter-spacing: 1px;
    }

}


@media screen and (min-width:1024px) {
    .package-card{
        height: 70vh;
    }
}