*{
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}


.doctor-top-part {
    padding-top: 4%;
    height: 250px;
    background-image: url('../../images/22.jpg');
    opacity: .80;
    text-align: center;
}

.doctor-top-part>h1 {
    font-size: 60px;
    font-weight: 900;

    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: #662222;
}

.doctor-container {
    padding: 20px;
    margin: 20px;

}

.doctor-container>h2 {

    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #6F8BA4;
}


.doctors-list {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;

}


.doctors-list {

    padding-top: 15px;
}

@media screen and (max-width:768px) {
    .doctor-top-part {
        padding-top: 2%;
        height: 200px;
        opacity: .80;

    }

    .doctor-top-part>h1 {
        font-size: 35px;
        font-weight: 500;
    }

    .doctor-container {
        padding: 20px;
        margin: 20px;
    }

    .doctor-container>h2 {
     font-size: 26px;
    }


    .doctors-list {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 30px;

    }


    .doctors-list {

        padding-top: 15px;
    }

}