
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    height: 90vh;
    width: 100%;
}

.home-nav{
   
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.home-left-part{
    border: 1px solid yellow;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20%;
     
}

.home-left-heading  {
    text-transform: uppercase;
    letter-spacing: 2px;
     
}

.home-left-heading h1 {
    font-size:48px ;
}

.home-left-heading h2 {
    font-size:48px ;
}

.home-left-heading p {
    padding-top: 20px; 
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
     
}

span{
    color: brown;
}

.home-left-part-button {
    padding-top: 40px;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    direction: ltr;
     
}

.home-left-part-button button{

    margin-left: 20px;
    height: 80px;
    direction: ltr;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px;
    width: 250px;
    border: 1px solid red;
}


.home-nav .home-right-image img{
    margin-top: 40px;
    margin-left: 30px;
     
}