*{
    margin: 0;
    padding: 0;
    
}

.contact-top{
    background-image: url('../../images/bg-4.jpg');
    height: 280px;
    padding-top: 5%;
    opacity: 0.5;
}

.contact-top h6{
    
    font-size: 36px;
    text-transform: uppercase;
    flex-direction: column;
    opacity: 1.9;
    font-weight: 600;
    text-align: center;
}

.contact-top p{
    text-align: center;
}



.form-nav{
    text-align: center;
    
    padding-top: 30px;
    width:100%;
}

.conatct-form{
    padding-top: 40px;
    text-align: center;
}

.form-first .form-second, input{

       border-radius: 5px;
       margin-bottom: 20px;
       margin-left: 20px;
       width: 35%;
       height: 60px;
}

 
button{
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    background-color: #77bd7d;
    margin-top: 20px;
    height: 60px;
    width: 30%;
}


textarea,input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #d7ffdb;
    box-shadow: 0 2px 0px ;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #757575;
    height: 122px;
   margin-left: 10px;  
    
     
  }

  
 


@media screen and (max-width:768px) {
   

    .form-nav{
         margin-top: 0;
        padding-top: 0;
    
    }
    
    .conatct-form{
        padding-top: 10;
        
    }
    
    .form-first .form-second, input{
           box-sizing: border-box;
           width: 60%;
           height: 30px;
    }

    textarea{
        width: 60%;
        height: 40px;
        border-radius: 5px;
        border: none;
        background: #d7ffdb;
        box-shadow: 0 2px 0px ;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        color: #757575;
        height: 122px;
       margin-left: 10px;  
        
         
      }
    
    
   
    
    button{
        border-radius: 5px;
        font-size: 14px;
        font-weight: 300;
        background-color: aquamarine;
        margin-top: 20px;
        margin-left: 0;
        
    }
    
}



 